h1{
    font-size: 100px;
    margin:10px auto;
}
h1,p {
    text-align: center;
}
#container{
    margin:0 auto;
    height:456.5px;
    width:620px;
    align: center;
    border:10px solid #111111;
}
input{
    float:left;
    width:100px;
    text-align: center;
}
div>div{
    width:300px;
    float:left;
}
#result{
    font-size: 50px;
}
#myChoice img{
    padding-top: 30px;
}
#computerChoice{
    transform: scaleX(-1);
}
#mine{
    border-right:10px solid #f16f6f;
}
#computer{
    border-left:10px solid #f16f6f;
}